<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Default{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <!--BASIC-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/bg.css') }}">

    {% block head %}{% endblock %}

</head>
<body>
    <div id="cursor"></div>
    <div id="cursor-ring"></div>
    

    <canvas id="bg-canvas"></canvas>
    {% block content %}{% endblock %}
</body>
</html>