# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
ENV/
env/

# Flask
instance/
.webassets-cache

# Environment variables / Secrets
.env
.flaskenv

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db
