<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="{{ url_for('static', filename='js/pages/database_test.js') }}"></script>

    <title>Document</title>
</head>
<body>
    <div class="table-container">
        <h2>Database User List</h2>
        <table id="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Dashboards</th>
                    <th>Groups</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">Loading data...</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>