<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nedwork</title>
    <link rel="stylesheet" href="static/css/pages/database_test.css">
    <script type="module" src="static/js/pages/database_test.js"></script>
</head>
<body>

    <div class="table-container" id="container">
        <h2 id="title" >Database User List</h2>
        <table>
            <tbody id="user-table">
                <tr>
                    <td colspan="5">Loading data...</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>