{% extends "base.html" %}

{% block title %}nedwork — Tasks{% endblock %}

{% block extra_head %}
    <meta name="description" content="Private Dashboard Site">
    <meta property="og:image" content="{{ url_for('static', filename='img/about/header_img.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/tasks.css') }}">
{% endblock %}

{% block content %}

    <main class="Tasks">

        <header id="tasks-header">
            <h1 id="tasks-title">Tasks</h1>
                <nav>
                    <a>Overwiev</a> <!--Todo: Add a bar that slider under the active tab-->
                    <a>About</a>
                    <a>Contact</a>
                </nav>
        </header>

        <div id="container">
            <section id="overview-section">
                <h3 class="section-title">Urgent</h3>
                <div class="section, section-collapsed">Great, you've worked all your urgent Tasks</div>
                <h3 class="section-title">High Importance</h3>
                <div class="section">
                    <div class="task-card">
                        <h3 class="card-title">Bachelor Arbeit</h3>
                        <span>Schule</span><span>langzeit</span>
                        
                    </div>
                </div>
            </section>
        </div>

    </main>

{% endblock %}

{% block extra_scripts %}
    <script>window.STATIC_URL = "{{ url_for('static', filename='') }}";</script>
    <script type="module" src="{{ url_for('static', filename='js/pages/tasks.js') }}"></script>
{% endblock %}