#vp {
    height: 100%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
#back-panel {
    background-color: var(--surface-dark);
    height: 100%;
    width: 100%;
    border-radius: 50px;
}


.divider{
    border: none;
    height: 1px;
    background: #333;
    margin: 20px;
}